<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <title>makeTime : Do it</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
<div class="container">
    <!--Login-->
    <div class="row" id="top">
        <button type="button" class="btn btn-primary m-3">Login</button>
        <button type="button" class="btn btn-primary m-3">Card Toggle</button>
    </div>



    <div class="row">
        <!--Left-Page-->
        <div class="col-xs-12 col-sm-6" id="left-page">
            <!--No. date-->
            <div class="d-flex justify-content-between">
                <div class="p-3">No.</div>
                <div class="p-3">date</div>
            </div>
            <div class="form-group">
                <label class="col-form-label col-form-label-lg" for="inputLarge">오늘의 하이라이트</label>
                <input class="form-control form-control-lg" type="text" placeholder="주제를 입력하세요" id="inputLarge">
            </div>
            <div class="row">
                <div class="col-sm-6 p-2">
                    집중도
                </div>
                <div class="col-sm-6 p-2">
                    에너지
                </div>
            </div>
            <div class="form-group">
                <label for="exampleTextarea">내용</label>
                <textarea class="form-control" id="exampleTextarea" rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 106px;"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleTextarea">이미지</label>
                <textarea class="form-control" id="exampleTextarea" rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 106px;"></textarea>
            </div>
            <div class="text-center p-3">
                <button type="submit" class="btn btn-primary">저장</button>
            </div>
        </div>
        <!--middle-line image-->
<!--        <span id="image"></span>-->

        <!--Right-Page-->
        <div class="col-xs-12 col-sm-6" id="right-page">
            <div class="form-group p-2">
                <label class="col-form-label" for="inputDefault">filter</label>
                <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
            </div>
            <div id="accordion" role="tablist">
                <div class="card">
                    <div class="card-header" role="tab" id="headingOne">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Collapsible Group Item #1
                            </a>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingTwo">
                        <h5 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Collapsible Group Item #2
                            </a>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>