@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body * {
    font-family: CookieRun-Regular;
}


/*중앙정렬*/
/*.layer{
  position:absolute;
  top:0;right:0;bottom:0;left:0;
  display:flex;
  align-items:center;
  justify-content:center;

  display:-webkit-flex;
  -webkit-align-item;center;
  -webkit-justify-content:center;
}*/

/*TEMP*/
/*
.container {
        background: yellow;
}

div {
    border :1px solid black;
}
*/

#left-page {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

#right-page {
    border-right: 1px solid black;
}