@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body * {
    font-family: CookieRun-Regular;
}

.underline {
    border-bottom: 3px solid #74C687;
    box-shadow: inset 0 -4px 0 #74C687;
}

.green-effect {
    border-bottom: 1px solid #1bafe8;
    box-shadow: inset 0 -2px 0 #1bafe8;
}

.red-effect {
    border-bottom: 1px solid #E87C87;
    box-shadow: inset 0 -2px 0 #E87C87;
}


.container {
    padding-top: 15px;

}
