@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body * {
    font-family: CookieRun-Regular;
}

.underline-effect {
    border-bottom: 3px solid #b4e7f8;
    box-shadow: inset 0 -4px 0 #b4e7f8;
}

.container {
    padding-top: 15px;

}
